<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone %></p>
<p><%= @restaurant.category.name %></p>
<p><%= @restaurant.reviews.count %></p>


<h2>Les commentaires</h2>

<ul>
  <% @restaurant.reviews.each do |review| %>
  <li><%= review.content %>  // <%= review.rating %></li>
<% end %>
</ul>


<h2>Add a commentaire</h2>
<%= form_for([@restaurant, @restaurant.reviews.build]) do |f| %>
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :rating %><br>
  <%= f.select :rating, {'1' => 1, '2' => 2, '3' => 3, '4' => 4, '5' => 5 } %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


<%= link_to "retour", restaurants_path %>

